* {
  box-sizing: border-box;
}

html {
	/*background-color: #970000;*/
	
	
	background-image: url(../img/santa.png);
	background-size: cover;
	min-height: 100%;
	background-color: rgba(151,0,0,.99);
	
}

body {
	margin: 0px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	margin-bottom: 0px;
	background-color: transparent;
	/*background-color: #970000;*/
	height: 100%;
	
}

a {
	color: #FFFFFF;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

a:hover {
	color: #ff8c26;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}



i:hover {
	color: #ff8c26;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

i {
	color: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
	display: inline;
}

.jumbotron {
	background-color: rgba(151,0,0,.6);
	color: #FFFFFF;
	margin-top: 20px;
	box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.1);
	padding: 20px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #bc0909;
}

.container .jumbotron {
	padding-left: 30px;
}

.jumbotron h1 {
	color: #ffFFFF;
	font-size: 70px;
	font-family: 'Sacramento', cursive;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}

.jumbotron h2 {
	color: #c0c0c0;
	font-size: 18px;
	font-family: 'Bitter', serif;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 20px;
	text-align: left;
}

.container {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 85px;
	/*background: rgba(255,255,255,.1);*/	
	box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.1);
	border: 1px solid #1b1d27;
	margin-bottom: 100px;
}

.home {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
	border: 0px none;
	padding: 20px;
	/*background-color: rgba(151,0,0,.6);*/
}

#credits {
	color: #bebdbd;
}

.santa {
	max-height: 130px;
	display: inline;
	padding-bottom: 0px;
	padding-right: 0px;
}

#credits a {
	color: #ffffff;
}
.entry {
	max-width: 400px;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #e7324b;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
	padding-bottom: 0px;
}

h2 {
	font-size: 40px;
	font-family: 'Satisfy', cursive;
	line-height: 30px;
	padding-bottom: 10px;
	padding-left: 0px;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;


}

.naughty {
	color: #ffffff;
}

h3 {
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 26px;
	font-family: 'Courgette', cursive;
	display: inline-block;
	padding-right: 30px;
	margin-top: 3px;
}

h4 {
	padding-top: 20px;
	border-top: 1px solid #3e404f;
	margin-top: 20px;
	padding-bottom: 10px;
	color: #9aa2ca;
	font-size: 20px;
	display: block;
}

h5 {
	display: inline-block;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
}

h6 {
	padding-top: 10px;
	border-top: 1px solid #3e404f;
	margin-top: 20px;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 20px;
	background-color: #e7324b;
	padding-left: 20px;
	padding-right: 20px;
	display:  flex;
	margin-bottom: 30px;
	box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.1);

}

hr {
	padding-bottom: 20px;
	margin-top: 30px;
}

.listBox {

	padding: 20px;
	padding-top: 0px;

}

.white {
	color: #ffffff;
}

#submit {
	width: 150px;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.btn-primary {
	background-color: #bb1818;
	border: 1px solid #970000;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 5px;
	font-size: 14px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
	color:#970000;
	background-color: #ffffff;
	border: 1px solid #970000;
}

.btn-secondary {
	background-color: #bb1818;
	border: 1px solid #970000;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
	font-size: 12px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	font-weight: bold;
}

.btn-secondary:hover {
	color: #FFFFFF;
	background-color: #000000;
	border: 1px solid #ffffff;
}



.fa {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.fa-3x {
	font-size: 30px;
}

input {
	color: #a40000;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
	border: 1px solid #bc0909;
	outline-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

form {
	display: inline-block;
}

#lists {
	margin-bottom: 30px;
}

.btn-icon {
	display: inline-block;
	background-color: none;
	background: none;
	border: 0px none;
}

select {
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	margin-bottom: 30px;
	box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.1);
}

label {
	padding-right: 10px;
}

button {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 0px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	display: inline-block;
}

.footer {
	width: 100%;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 10px;
	text-align: center;
	background-color: #a40000;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #bc0909;
	color: #6b0101;

}

.candyCane {
	display: inline-block;
	height: 32px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.elf {
    display: inline-block;
    height: 120px;
    padding-right: 20px;
    vertical-align: top;
}

.inlineForm {
	display: inline-block;
}

.footer a {
	color: #e7324b;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

.footer a:hover {
	color: #ffffff;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

.childRow {
	padding: 10px;
	border: 1px solid #bc0909;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 0px;
	background-color: rgba(151,0,0,.3);
	box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.1);
	margin-bottom: 5px;
	vertical-align: middle;
}

.formTitle {
	color: #c0c0c0;
}



@media screen and (max-width: 768px) {





}


@media screen and (max-width: 408px) {



}


	